html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.root {
  background-image: url('public/bg.svg');
  background-size: cover;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
  flex-flow: column nowrap;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 30px;
  background-color: #F0F0F0;
  margin: 5px;
}

.main-container.rounded {
  border-radius: 15px;
}

.main-container.rounded-top {
  border-radius: 15px 15px 0 0;
}

.main-container.rounded-bottom {
  border-radius: 0 0 15px 15px;
}

h1 {
  text-align: center;
}

.button {
  height: 48px;
  border-radius: 10px;
  font-weight: bold;
  padding: 10px;
}

.button.active {
  background-color: #0052FF;
  color: #fff;
}

.button.active:hover {
  background-color: #003EDF;
}

.button.accent {
  background-color: #111;
  color: #fff;
}

.button.accent:hover {
  background-color: #444;
}

.half-parent {
  min-width: 40%;
}

.footer {
  margin: 10px;
  display: flex;
  justify-content: space-between
}

.full-width {
  width: 100%;
}

.split-items {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.split-items>* {
  margin: 5px 20px 5px 20px;
}

.flat {
  height: 48px;
  padding: 20px;
}

.hamburger-menu {
  background-color: #eee;
  border: lightgray 1px solid;
}

.hamburger-menu:hover {
  background-color: #ddd;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.open {
  display: flex;
}

.modal-content {
  /* position: fixed;
  bottom: 0; */
  /* width: 100%; */

  border-radius: 20px;

  background-color: #F0F0F0;
  /* -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s */
}

@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

.close {
  margin-right: 15px;
  margin-top: 10px;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.back {
  margin-left: 15px;
  margin-top: 10px;
  color: #aaa;
  float: left;
  font-size: 28px;
  font-weight: bold;
  border: 1px solid #aaa;
  border-radius: 15px;
}

.back:hover,
.back:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.top-line {
  border-top: #ddd 1px solid;
}

.wrap-words {
  overflow-wrap: break-word;
}

.evenly-sized-items {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

.evenly-sized-items>* {
  margin: 5px;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 50%;
}

.no-border {
  border: none;
}

.euqal-columns {
  table-layout: fixed;
  /* width: 100%; */
}

.euqal-columns td {
  width: 50%;
}

.input {
  height: 26px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #aaa;
  background-color: #ccc;
}

.label {
  
}

.center-text {
  text-align: center;
}
